$Montserrat: ("Montserrat-Bold", 700), ("Montserrat-BoldItalic", 701), ("Montserrat-Light", 300),
    ("Montserrat-Regular", 400);

@each $name, $weight in $Montserrat {
    @font-face {
        font-family: "Montserrat";
        font-weight: $weight;
        src: url(@/assets/fonts/Montserrat/#{$name}.ttf);
    }
}

$Raleway: ("Bold", 700), ("Regular", 400);

@each $name, $weight in $Raleway {
    @font-face {
        font-family: "Raleway";
        font-weight: $weight;
        src: url(@/assets/fonts/Raleway/Raleway-#{$name}.ttf);
    }
}
